@import '../abstract/variaveis';

.banner {
    background: url(../imagens/banner.jpeg) center/cover no-repeat;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    &__inner {
        padding: 3rem;
        background-color: $cor-terciaria;
        opacity: .75;
        border-radius: 45px;
        h1 {
            font-size: $tamanho-heading;
            color: $cor-primaria;
        }
        h2 {
            font-size: $tamanho-heading/2;
            color: $cor-secundaria;
        }
    }
}